@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/ipad.jpg);
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/ipad-2x..jpg);
    }
  }
}
@media screen and (max-width: 416px) {
  .hero-main {
    /* font-size: 30px; */
  }
  .menu-contact-phone {
    font-size: 25px;
    line-height: 1,5;
  }
  .menu-social-list {

  }
}
@media screen () {
  
}
/* --------------IPAD-------------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .nav-button {
    display: none;
  }

  .container-nav {
    gap: 120px;
  }
  .logo-sections-head {
    margin-right: 0;
  }
  .head-container {
    display: flex;
    justify-content: space-between;
  }
  .list-header {
    display: flex;
    gap: 40px;
  }
  .list-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .list-nav {
    color: var(--secondary-black-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
  }

  .list-nav:hover,
  .list-nav:focus {
    color: #404bbf;
  }

  .list-nav-hover {
    color: #404bbf;
  }
  .list-nav-hover::after {
    background-color: #404bbf;
  }

  .list-nav::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-nav:hover::after {
    background-color: #404bbf;
  }

  .contact {
    display: flex;
    flex-direction: column;
    font-style: normal;
  }
  .contact-link {
    color: var(--primary-black-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
.hero {
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
  
  .hero-main {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
  .facts-title {
    text-align: left;
  }
  .facts-taxt {
    /* font-weight: 500; */
  }
  .facts-lid {
    gap: 72px 24px;
  }
  .facts-list {
    width: calc((100% - 24px) / 2);
  }
  .team-lid {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-section-part {
    width: calc((100% - 24px) / 2);
  }
  .costomers-list {
    display: inline-flex;
    gap: 72px 24px;
  }
  .costomers-item {
    max-width: 168px;
    width: calc((100% - 48px) / 3);
  }
  .footer-social-media {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 584px;
  }
  .footer-container-logo {
    align-items: flex-start;
  }
  .footer-container-social {
    align-items: flex-start;
  }
  .footer-container-form {
    align-items: flex-start;
    width: 453px;
  }
  .form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-form-input {
    max-width: 264px;
  }
  .modal {
    padding: 72px 25px 24px 23px;
  }
  .filters {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .animation img {
    width: 356px;
    height: 300px;
  }
  .list-portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .list-portfolio {
    flex-direction: row;
    width: 100%;
  }
}

/* -------------DESCKTOP------------ */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-nav {
    gap: 76px;
  }
  .list-contact {
    flex-direction: row;
    gap: 40px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .contact {
  }
  .contact-link {
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-main {
    margin-bottom: 48px;
  }
  .facts-title {
    text-align: left;
    font-size: 20px;
    line-height: 1.2;
  }
  .facts-taxt {
    font-weight: 400;
  }
  .facts-lid {
    gap: 24px;
  }
  .facts-list {
    width: calc((100% - 72px) / 4);
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--secondary-white-color);
    padding: 24px 100px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
  .container-facts {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .directions-section {
    display: block;
    padding-bottom: 120px;
  }
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .costomers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .costomers-list {
    display: flex;
    gap: 24px;
  }
  .costomers-item {
    max-width: 168px;
    width: calc((100% - 120px) / 6);
  }
  .footer {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .footer-social-media {
    display: flex;
    width: 100%;
    height: 112px;
    gap: 0;
  }
  .footer-container-logo {
    align-items: flex-start;
    margin-right: 120px;
  }
  .footer-container-social {
    align-items: flex-start;
    margin-right: auto;
  }
  .footer-container-form {
    align-items: flex-start;
    width: 453px;
  }
  .form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-form-input {
    opacity: 1;
    max-width: 264px;
  }
  .modal {
    padding: 72px 24px 24px 24px;
  }
  .animation img {
    width: 360px;
    height: 300px;
  }
  .list-portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}
